[submodule "Wan2.1"]
	path = Wan2.1
	url = https://github.com/Wan-Video/Wan2.1.git
[submodule "DeepSeek-V3"]
        path = DeepSeek-V3
        url = https://github.com/deepseek-ai/DeepSeek-V3.git
[submodule "Wan2.1-mac-compatibility"]
	path = Wan2.1-mac-compatibility
	url = https://github.com/bakhti-ai/Wan2.1.git
	branch = macos-compatibility
[submodule "diffusers"]
	path = diffusers
	url = https://github.com/huggingface/diffusers.git
[submodule "ComfyUI-WanVideoWrapper"]
	path = ComfyUI-WanVideoWrapper
	url = https://github.com/kijai/ComfyUI-WanVideoWrapper.git
[submodule "ganloss-latent-space"]
	path = ganloss-latent-space
	url = https://github.com/amao2001/ganloss-latent-space.git
[submodule "flux"]
	path = flux
	url = https://github.com/black-forest-labs/flux.git
[submodule "fluxgym"]
	path = fluxgym
	url = https://github.com/cocktailpeanut/fluxgym.git
