tool/dataroot/
faiss_index/
data/
env/
models/
output/
project/generate_data/generate_data_ad/output/
project/generate_t2i/

.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
